@import "@/assets/styles/app.scss";

.note-detail-container {
  display: flex;
  position: relative;
  padding: 1.25rem;
  flex-direction: column;
  gap: 0.625rem;
  border-radius: 0.5rem;
  background-color: #f3f4f6;
}

.note-detail-title {
  composes: text-large -pink -bold;
}

.note-detail-text {
  composes: text-normal -grey;
}

.note-detail-modal-body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
}

.note-detail-modal-text {
  composes: text-normal -grey -bold;
}
